<%- include("partials/header.ejs") %>
<header id="header">
    <h1><a class="logo" href="/home">PLANNER</a></h1>
    <form action="/home/add/task" method="POST">
        <input 
            type="text" 
            name="task" 
            placeholder="Type tasks here..." 
            required 
            autofocus
        >
        <button id="category-dropdown-btn" class="btn-add" type="button">
            <i>Category</i>
            <span><img alt="Toggle button" src="/images/down.png" width="20" /></span>
            <span class="hidden"><img alt="Toggle button" src="/images/up.png" width="20" /></span>
        </button>
        <div class="category-dropdown">
            <div class="category-dropdown-content">
                <ul>
                    <% categories.forEach(category => { %>
                        <% if(category.id == 1) { %>
                        <li>
                            <label class="container">
                                <input id="category-id" type="radio" name="category" value="<%= category.id %>" checked>
                                <span class="checkmark <%=category.color%>"> <i><%= category.category_name %></i></span>
                            </label>
                        </li>
                        <% } else { %>
                        <li>    
                            <label class="container">
                                <input id="category-id" type="radio" name="category" value="<%= category.id %>">
                                <span class="checkmark <%=category.color%>"> <i><%= category.category_name %></i></span>
                            </label>
                        </li>    
                        <% } %>
                    <% }) %>
                    <% if(locals.userCategory != null) { %>
                        <% userCategory.forEach(category => { %>
                        <li>    
                            <label class="container">
                                <input id="category-id" type="radio" name="category" value="<%= category.id %>">
                                <span class="checkmark <%=category.color%>">
                                    <i><%= category.category_name %></i>
                                </span>
                                <a 
                                    title="Deleted category will automatically be set to default" 
                                    href="/home/delete/category/<%=category.id%>">
                                    Delete
                                </a>
                            </label>
                        </li>
                            <% }) %>
                    <% } %>
                </ul>
            </div>
        </div>
        <input type="submit" value="Create">
    </form>
    <div class="link-container">
        <a class="links active" href="/home" onmouseover="showTitletip(1)" onmouseout="hideTitletip(1)">
            <img alt="Home icon" src="/images/home.png" />
        </a>
        <a class="links" href="/previous-tasks" onmouseover="showTitletip(2)" onmouseout="hideTitletip(2)">
            <img alt="History icon" src="/images/history.png" />
        </a>
        <a class="links" href="/calendar" onmouseover="showTitletip(3)" onmouseout="hideTitletip(3)">
            <img alt="Calendar icon" src="/images/calendar.png" />
        </a>
        <a class="links" id="dropdown-btn" onmouseover="showTitletip(4)" onmouseout="hideTitletip(4)">
            <img alt="Categories image" src="/images/create-cats.png" />
        </a>
        <a class="links" href="/profile" onmouseover="showTitletip(5)" onmouseout="hideTitletip(5)">
            <img alt="Profile image" src="/images/profile.png" />
        </a>
        <a class="links" href="/logout" onmouseover="showTitletip(6)" onmouseout="hideTitletip(6)">
            <img alt="Logout icon" src="/images/logout.png" />
        </a>
        <span id="1" class="titletip" hidden>Home</span>
        <span id="2" class="titletip" hidden>Tasks History</span>
        <span id="3" class="titletip" hidden>Calendar View</span>
        <span id="4" class="titletip" hidden>Create Category</span>
        <span id="5" class="titletip" hidden>Profile</span>
        <span id="6" class="titletip" hidden>Logout</span>
        <div class="dropdown">
            <div class="dropdown-content">
                <h4>Create Category</h4>
                <form action="/home/add/category" method="POST">
                    <input 
                        id="textInput" 
                        type="text" 
                        name="categoryName" 
                        maxlength="15" 
                        min="3" 
                        placeholder="Enter category name"
                        oninput="validateCategoryName(this)"
                        onkeypress="return restrictSpace()" 
                        required
                    >
                    <p>Pick a color</p>
                    <div class="container-holder">
                        <%- include("partials/color-radio.ejs") %>
                    </div>
                    <ul>
                        <li>Category name must be less than or equal to 10 characters.</li>
                        <li>Category name must not contain any special characters, spaces or numbers.</li>
                        <li>Color selection is mandatory.</li>
                    </ul>
                    <input type="submit" value="Create">
                </form>
            </div>
        </div>
    </div>
</header>
<main>
    <% 
        // Getting today's date
        const newDate = new Date(); 
        const today = new Intl.DateTimeFormat('en-GB', { dateStyle: 'full' }).format(newDate); 
       
        // Getting current month
        const currentMonth = new Date().toLocaleString('en-US', { month: 'long' });

        // Filtering items for the current month
        const currentMonthItems = taskList.filter(item => {
            const itemMonth = new Date(item.date).toLocaleString('en-US', { month: 'long' });
            return itemMonth === currentMonth;
        })

        // Getting categories to set them once in the view
        const uniqueCategories = new Set();
        currentMonthItems.forEach((task) => { 
            const cats = relatedCategory.find(cat => cat.id === task.category_id);
            if (cats) {
                uniqueCategories.add(cats);
            }
        })
    %> 
    <% if(currentMonthItems.length === 0) { %>
        <div class="newTaskIntro">
            <h4>Welcome to your planner &#128400;</h4>
            <h5 class="text-center">(<%= today %>)</h5>
            <ul>
                <li>
                    You can create Unlimited tasks.
                </li>
                <li>
                    All of your current month's tasks will show up here like boxes.
                </li>
                <li>
                    It is advised to keep tasks shorter, it will be easier for you to manage and go through them.
                </li>
            </ul>
        </div>
        <div class="newTask"><h4>task #001</h4></div>
        <div class="newTask"><h4>task #002</h4></div>
    <% } else { %>
        <!-- <div class="commonBox">
            <h4>Your tasks <i></i></h4>
            <h5>Only current month's tasks are shown here i.e. <%#= currentMonth %>, and can be edited.</h5>
            <h5>You can select to only see tasks from the selected category.</h5>
        </div> -->
        <div class="home-category">
            <h4>Your tasks</h4>
            <h5>(<%= today %>)</h5>
            <h5>Category tags you are using for your tasks.</h5>
            <ul>
                <% 
                    const category = Array.from(uniqueCategories)
                    category.forEach((cats) => { %>
                <li class="<%= cats ? cats.color : '' %>">
                    <%= cats && cats.category_name %>
                </li>
                <% }) %>
            </ul>
        </div>
        <%  
            let count = currentMonthItems.length
            currentMonthItems.forEach((task) => { 
            const taskCategory = relatedCategory.find(cat => cat.id === task.category_id);
        %>
            <div class="newTask">
                <div class="tag <%=taskCategory && taskCategory.color%>">
                    <span><%= taskCategory && taskCategory.category_name %></span>
                </div>
                <div class="count">
                    <%= count-- %>
                </div>
                <form action="/home/done" method="POST">
                    <label 
                        class="<%=task.status ? 'line-through' : ''%>" 
                        id="label<%= task.id %>"
                    >
                        <input
                            type="text" 
                            name="taskId" 
                            value="<%= task.id %>" 
                            hidden
                        >
                        <span id="tooltip<%= task.id %>" class="tooltip" hidden>
                            <%= task.status ? 'Mark as not done' : 'Mark as done' %>
                        </span>
                        <input 
                            id="checkbox<%= task.id %>"
                            name="taskStatus" 
                            value="<%= task.status ? 'FALSE' : 'TRUE' %>" 
                            class="checkbox" 
                            type="checkbox" 
                            onchange="this.form.submit()"
                            <%= task.status ? 'checked' : '' %>
                            onmouseover="showTooltip('<%= task.id %>')"
                            onmouseout="hideTooltip('<%= task.id %>')"
                        >
                        &nbsp; <span id="task<%= task.id %>"><%= task.task_list %></span>
                    </label>  
                </form>
                <form action="/home/update" method="POST">
                    <input 
                        id="id<%= task.id %>" 
                        name="id" type="text" 
                        value="<%= task.id %>" 
                        hidden
                    >
                    <textarea id="modify<%= task.id %>" name="modified" rows="4" hidden>
                        <%= task.task_list %>
                    </textarea>
                    <button title="Update" class="btn-add" id="update<%= task.id %>" name="submit" type="submit" hidden>
                        <img alt="update icon" src="/images/check.png" width="30" height="30" />
                    </button>
                    <button title="Cancel" class="btn-cancel" id="cancel<%= task.id %>" type="button" onclick="reverseAction('<%= task.id %>')" hidden>
                        <img alt="update cancel icon" src="/images/cross.png" width="30" height="30" />
                    </button>

                    <div><i><%= task.updated === null ? 'Added on: ' + task.date : 'Last updated on: ' + task.updated %></i></div>
                </form>
                <form action="/home/delete" method="POST">
                    <input 
                        type="text" 
                        name="deleteTask" 
                        value="<%= task.id %>" 
                        hidden
                    >
                    <button title="Delete" class="btn-delete" type="submit" id="delete<%= task.id %>">
                        <img alt="edit icon" src="/images/delete.png" width="30" height="30" />
                    </button>    
                </form>
                <button title="Edit" class="btn-edit" id="edit<%= task.id %>" onclick="action('<%= task.id %>')">
                    <img alt="edit icon" src="/images/edit-task.png" width="30" height="30" />
                </button>
            </div>
            <% }) %>
        <% } %>
</main>
<% if(locals.message) { %>
    <div id="message" class="message">
        <%= locals.message %>
    </div>
<% } %>
<div class="display-when-below-300">
    <p>This site is not supported below 300 pixels of width.</p>
</div>
<%- include("partials/footer.ejs") %>