<%- include("partials/header.ejs") %>
<header id="header">
    <h1><a class="logo" href="/home">PLANNER</a></h1>
    <form action="/add/new" method="POST">
        <input type="text" name="task" placeholder="What's in your mind?... Start adding tasks here... Keep it short and meaningful :D" required autofocus>
        <select name="category">
            <% categories.forEach(category => { %>
                <% if(category.id == 1) { %>
                    <option class="<%=category.color%>" value="<%= category.id %>" selected><%= category.category_name %></option>
                <% } else { %>
                    <option class="<%=category.color%>" value="<%= category.id %>"><%= category.category_name %></option>
                <% } %>
            <% }) %>
        </select>
        <input type="submit" value="Create">
    </form>
    <div class="link-container">
        <a class="links active" href="/home" onmouseover="showTitletip(1)" onmouseout="hideTitletip(1)">
            <img alt="home icon" src="/images/home.png" width="30" height="30" />
        </a>
        <a class="links" href="/previous-tasks" onmouseover="showTitletip(2)" onmouseout="hideTitletip(2)">
            <img alt="history icon" src="/images/history.png" width="30" height="30" />
        </a>
        <a class="links" href="/calendar" onmouseover="showTitletip(3)" onmouseout="hideTitletip(3)">
            <img alt="calendar icon" src="/images/calendar.png" width="30" height="30" />
        </a>
        <a class="links" href="/profile" onmouseover="showTitletip(4)" onmouseout="hideTitletip(4)">
            <img alt="profile image" src="/images/profile.png" width="30" height="30" />
        </a>
        <a class="links" href="/logout" onmouseover="showTitletip(5)" onmouseout="hideTitletip(5)">
            <img alt="logout icon" src="/images/logout.png" width="30" height="30" />
        </a>
        <span id="1" class="titletip" hidden>Home</span>
        <span id="2" class="titletip" hidden>Tasks History</span>
        <span id="3" class="titletip" hidden>Calendar View</span>
        <span id="4" class="titletip" hidden>Profile</span>
        <span id="5" class="titletip" hidden>Logout</span>
    </div>
</header>
<main>
    <% 
        // Getting today's date
        const newDate = new Date(); 
        const today = new Intl.DateTimeFormat('en-GB', { dateStyle: 'full' }).format(newDate); 
       
        // Getting current month
        const currentMonth = new Date().toLocaleString('en-US', { month: 'long' });

        // Filtering items for the current month
        const currentMonthItems = taskList.filter(item => {
            const itemMonth = new Date(item.date).toLocaleString('en-US', { month: 'long' });
            return itemMonth === currentMonth;
        })

        // Getting categories to set them once in the view
        const uniqueCategories = new Set();
        currentMonthItems.forEach((task) => { 
            const cats = relatedCategory.find(cat => cat.id === task.category_id);
            if (cats) {
                uniqueCategories.add(cats);
            }
        })
    %> 
    <% if(currentMonthItems.length === 0) { %>
        <div class="newTaskIntro">
            <h4>Welcome to your planner &#128400;</h4>
            <h5 class="text-center">(<%= today %>)</h5>
            <ul>
                <li>
                    You can create Unlimited tasks.
                </li>
                <li>
                    All of your current month's tasks will show up here like boxes.
                </li>
                <li>
                    It is advised to keep tasks shorter, it will be easier for you to manage and go through them.
                </li>
            </ul>
        </div>
        <div class="newTask"><h4>task #001</h4></div>
        <div class="newTask"><h4>task #002</h4></div>
    <% } else { %>
        <!-- <div class="commonBox">
            <h4>Your tasks <i></i></h4>
            <h5>Only current month's tasks are shown here i.e. <%#= currentMonth %>, and can be edited.</h5>
            <h5>You can select to only see tasks from the selected category.</h5>
        </div> -->
        <div class="home-category">
            <h4>Your tasks</h4>
            <h5>(<%= today %>)</h5>
            <h5>Category tags you are using for your tasks.</h5>
            <ul>
                <% 
                    const category = Array.from(uniqueCategories)
                    category.forEach((cats) => { %>
                <li class="<%= cats ? cats.color : '' %>">
                    <%= cats && cats.category_name %>
                </li>
                <% }) %>
            </ul>
        </div>
        <%  
            let count = currentMonthItems.length
            currentMonthItems.forEach((task) => { 
            const taskCategory = relatedCategory.find(cat => cat.id === task.category_id);
        %>
            <div class="newTask">
                <div class="tag <%= taskCategory && taskCategory.color %>">
                    <span><%= taskCategory && taskCategory.category_name %></span>
                </div>
                <div class="count">
                    <%= count-- %>
                </div>
                <form action="/home/done" method="POST">
                    <label 
                        style="<%= task.status ? 'text-decoration: line-through;' : '' %>" 
                        id="label<%= task.id %>"
                    >
                        <input
                            type="text" 
                            name="taskId" 
                            value="<%= task.id %>" 
                            hidden
                        >
                        <span id="tooltip<%= task.id %>" class="tooltip" hidden>
                            <%= task.status ? 'Mark as not done' : 'Mark as done' %>
                        </span>
                        <input 
                            id="checkbox<%= task.id %>"
                            name="taskStatus" 
                            value="<%= task.status ? 'FALSE' : 'TRUE' %>" 
                            class="checkbox" 
                            type="checkbox" 
                            onchange="this.form.submit()"
                            <%= task.status ? 'checked' : '' %>
                            onmouseover="showTooltip('<%= task.id %>')"
                            onmouseout="hideTooltip('<%= task.id %>')"
                        >
                        &nbsp; <span id="task<%= task.id %>"><%= task.task_list %></span>
                    </label>  
                </form>
                <form action="/home/update" method="POST">
                    <input 
                        id="id<%= task.id %>" 
                        name="id" type="text" 
                        value="<%= task.id %>" 
                        hidden
                    >
                    <textarea id="modify<%= task.id %>" name="modified" rows="4" hidden>
                        <%= task.task_list %>
                    </textarea>
                    <button title="Update" class="btn-add" id="update<%= task.id %>" name="submit" type="submit" hidden>
                        <img alt="update icon" src="/images/check.png" width="30" height="30" />
                    </button>
                    <button title="Cancel updating" class="btn-cancel" id="cancel<%= task.id %>" type="button" onclick="reverseAction('<%= task.id %>')" hidden>
                        <img alt="update cancel icon" src="/images/cross.png" width="30" height="30" />
                    </button>

                    <div><i><%= task.updated === null ? 'Added on: ' + task.date : 'Last updated on: ' + task.updated %></i></div>
                </form>
                <form action="/home/delete" method="POST">
                    <input 
                        type="text" 
                        name="deleteTask" 
                        value="<%= task.id %>" 
                        hidden
                    >
                    <button title="Delete" class="btn-delete" type="submit" id="delete<%= task.id %>">
                        <img alt="edit icon" src="/images/delete.png" width="30" height="30" />
                    </button>    
                </form>
                <button title="Edit" class="btn-edit" id="edit<%= task.id %>" onclick="action('<%= task.id %>')">
                    <img alt="edit icon" src="/images/edit-task.png" width="30" height="30" />
                </button>
            </div>
            <% }) %>
        <% } %>
</main>
<% if(locals.message) { %>
    <div id="message" class="message">
        <%= locals.message %>
    </div>
<% } %>  
<%- include("partials/footer.ejs") %>