<%- include("partials/header.ejs") %>
<header id="header">
    <h1><a class="logo" href="/home">PLANNER</a></h1>
    <form action="/previous-tasks/add/task" method="POST">
        <input 
            type="text" 
            name="task" 
            placeholder="Start typing tasks here... Keep it short and meaningful :)" 
            required 
            autofocus
        >
        <button id="category-dropdown-btn" class="btn-add" type="button">
            <i>Category</i>
            <span><img alt="Toggle button" src="/images/down.png" width="20" /></span>
            <span class="hidden"><img alt="Toggle button" src="/images/up.png" width="20" /></span>
        </button>
        <div class="category-dropdown">
            <div class="category-dropdown-content">
                <ul>
                    <% categories.forEach(category => { %>
                        <% if(category.id == 1) { %>
                        <li>
                            <label class="container">
                                <input type="radio" name="category" value="<%= category.id %>" checked>
                                <span class="checkmark <%=category.color%>"> <i><%= category.category_name %></i></span>
                            </label>
                        </li>
                        <% } else { %>
                        <li>    
                            <label class="container">
                                <input type="radio" name="category" value="<%= category.id %>">
                                <span class="checkmark <%=category.color%>"> <i><%= category.category_name %></i></span>
                            </label>
                        </li>    
                        <% } %>
                    <% }) %>
                    <% if(locals.userCategory != null) { %>
                        <% userCategory.forEach(category => { %>
                        <li>    
                            <label class="container">
                                <input type="radio" name="category" value="<%= category.id %>">
                                <span class="checkmark <%=category.color%>">
                                    <i><%= category.category_name %></i>
                                </span>
                                <a 
                                    title="Deleted category will automatically be set to default" 
                                    href="/previous-tasks/delete/category/<%=category.id%>">
                                    Delete
                                </a>
                            </label>
                        </li>
                            <% }) %>
                    <% } %>
                </ul>
            </div>
        </div>
        <input type="submit" value="Create">
    </form>
    <div class="link-container">
        <a class="links" href="/home" onmouseover="showTitletip(1)" onmouseout="hideTitletip(1)">
            <img alt="Home icon" src="/images/home.png" width="30" height="30" />
        </a>
        <a class="links active" href="/previous-tasks" onmouseover="showTitletip(2)" onmouseout="hideTitletip(2)">
            <img alt="History icon" src="/images/history.png" width="30" height="30" />
        </a>
        <a class="links" href="/calendar" onmouseover="showTitletip(3)" onmouseout="hideTitletip(3)">
            <img alt="Calendar icon" src="/images/calendar.png" width="30" height="30" />
        </a>
        <a class="links" id="dropdown-btn" onmouseover="showTitletip(4)" onmouseout="hideTitletip(4)">
            <img alt="Categories image" src="/images/create-cats.png" width="30" height="30" />
        </a>
        <a class="links" href="/profile" onmouseover="showTitletip(5)" onmouseout="hideTitletip(5)">
            <img alt="Profile image" src="/images/profile.png" width="30" height="30" />
        </a>
        <a class="links" href="/logout" onmouseover="showTitletip(6)" onmouseout="hideTitletip(6)">
            <img alt="Logout icon" src="/images/logout.png" width="30" height="30" />
        </a>
        <span id="1" class="titletip" hidden>Home</span>
        <span id="2" class="titletip" hidden>Tasks History</span>
        <span id="3" class="titletip" hidden>Calendar View</span>
        <span id="4" class="titletip" hidden>Create Category</span>
        <span id="5" class="titletip" hidden>Profile</span>
        <span id="6" class="titletip" hidden>Logout</span>
        <div class="dropdown">
            <div class="dropdown-content">
                <h4>Create Category</h4>
                <form action="/previous-tasks/add/category" method="POST">
                    <input 
                        id="textInput" 
                        type="text" 
                        name="categoryName" 
                        maxlength="15" 
                        min="3" 
                        placeholder="Enter category name"
                        oninput="validateCategoryName(this)"
                        onkeypress="return restrictSpace()" 
                        required
                    >
                    <p>Pick a color</p>
                    <div class="container-holder">
                        <%- include("partials/color-radio.ejs") %>
                    </div>
                    <ul>
                        <li>Category name must be less than or equal to 10 characters.</li>
                        <li>Category name must not contain any special characters, spaces or numbers.</li>
                        <li>Color selection is mandatory.</li>
                    </ul>
                    <input type="submit" value="Create">
                </form>
            </div>
        </div>
    </div>
</header>
<main>
    <%
        const currentDate = new Date();
        const currentMonthYear = currentDate.toLocaleString('en-US', { year: 'numeric', month: 'long' });

        const distinctMonthsAndYears = [...new Set(
        taskList
            .filter(task => new Date(task.date).toLocaleString('en-US', { year: 'numeric', month: 'long' }) !== currentMonthYear)
            .map(task => new Date(task.date).toLocaleString('en-US', { year: 'numeric', month: 'long' }))
    )];
    %>
    <% if (distinctMonthsAndYears.length == 0) { %>
        <div class="newTaskIntro">
            <h4>Welcome to your planner &#128400;</h4>
            <ul>
                <li>
                    You can create as many tasks as you want from this page too.
                </li>
                <li>
                    This page will show you all of your previous tasks i.e. previous months and years. 
                </li>
            </ul>
        </div>
        <% } else { %>
    <!-- Create tab content for each month and year -->
    <% distinctMonthsAndYears.forEach(monthYear => { %>
        <% const tabId = `tab-${Math.random().toString(36).substring(7)}`; %>
        <div class="tabs">
            <div class="tab-container">
                <div id="<%= tabId %>" class="tab-head" onclick="showTab('<%= monthYear %>', '<%= tabId %>')"><%= monthYear %></div>
                <div class="tab-line"></div><div class="tab-circle"></div>    
            </div>
            <div id="<%= tabId %>" class="tab-content tab-hidden">
                <% taskList
                    .filter(task => new Date(task.date).toLocaleString('en-US', { year: 'numeric', month: 'long' }) === monthYear)
                    .forEach(task => { %>
                        <div class="newTask">
                            <form action="/previous-tasks/done" method="POST">
                                <label 
                                    class="<%=task.status ? 'line-through' : ''%>" 
                                    id="label<%= task.id %>"
                                >
                                    <input 
                                        type="text" 
                                        name="taskId" 
                                        value="<%= task.id %>" 
                                        hidden
                                    >
                                    <span id="tooltip<%= task.id %>" class="tooltip" hidden>
                                        <%= task.status ? 'Mark as not done' : 'Mark as done' %>
                                    </span>
                                    <input 
                                        name="taskStatus" 
                                        value="<%= task.status ? 'FALSE' : 'TRUE' %>" 
                                        class="checkbox" 
                                        type="checkbox" 
                                        onchange="this.form.submit()"
                                        <%= task.status ? 'checked' : '' %>
                                        onmouseover="showTooltip('<%= task.id %>')"
                                        onmouseout="hideTooltip('<%= task.id %>')"
                                    >
                                    &nbsp; <span id="task<%= task.id %>"><%= task.task_list %></span>
                                </label>  
                                <div>Date: <i><%= task.date %></i></div>
                            </form>
                            <form action="/previous-tasks/delete" method="POST">
                                <input 
                                    type="text" 
                                    name="deleteTask" 
                                    value="<%= task.id %>" 
                                    hidden
                                >
                                <button title="Delete" class="btn-middle" type="submit">
                                    <img alt="delete icon" src="/images/delete.png" width="30" height="30" />
                                </button>
                            </form>
                        </div>
                <% }); %>
            </div>
        </div>
    <% }); %>
    <% } %>
</main>
<% if(locals.message) { %>
    <div id="message" class="message">
        <%= locals.message %>
    </div>
<% } %>  
<%- include("partials/footer.ejs") %>